:root {
    --primary-color: #fff;
    --secondary-color: #2e3d49;
    --text-color: #2e3d49;
    --link-color: #5dd39e;
    --background-overlay: rgba(46, 61, 73, 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100%;
    width: 100%;
    font-family: 'Playfair Display', serif;
    background: url(https://uploads.staticjw.com/au/aurorawedding/b9_011.jpg) no-repeat center center/cover;
    overflow-x: hidden;
}

.header {
    text-align: center;
    background: url('https://example.com/norrland_scenery.jpg') no-repeat center center/cover;
    padding: 20px 0;
    margin-bottom: 10px;
    color: var(--primary-color);
    transition: background-color 0.5s ease;
    position: relative;
}

.header.white-bg {
    background-color: rgba(255, 255, 255, 0.9); /* 80% opacitet */
    background-image: none;
}

.header img {
    max-width: 80%;
    height: auto;
}

.language-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
}

.language-switcher button {
    background: transparent;
    border: 1px solid #82bcaf;
    color: #82bcaf;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.language-switcher button:hover {
    background: white;
    color: black;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-overlay);
    padding: 10px 0;
    flex-wrap: wrap; /* Lägg till denna rad */
}

.nav-btn {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    margin: 10px; /* Justera margin för att passa mobilskärmar */
    transition: color 0.3s ease;
}

.nav-btn:hover {
    color: var(--link-color);
}

.image-display {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    transition: background-image 0.5s ease;
}

.popup-content {
    display: none;
    padding: 20px;
    border: 0px solid var(--primary-color);
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(-100%);
    border-radius: 0; /* Gör hörnen kantiga */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
}

.popup-content.active {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 0; /* Gör hörnen kantiga */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(0.98);
}

.text-container {
    width: 100%;
    padding: 20px;
    color: var(--text-color);
    background: rgba(239, 235, 220, 0);
    border-radius: 0; /* Gör hörnen kantiga */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
}

.text-container h3 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.text-container h4 {
    font-size: 1.8em;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.text-container p {
    font-size: 1.2em;
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
}

.text-container a {
    color: var(--link-color);
    text-decoration: none;
}

.text-container a:hover {
    text-decoration: underline;
}

.details {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.detail-item {
    width: 23%; /* Adjust as needed to fit 4 items in a row with space around */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
    color: #42403696; /* Ensure text is readable over background images */
    position: relative; /* Ensure positioning for child elements */
    background-color: rgba(0, 0, 0, 0.0); /* Optional background color for better visibility */
}

/* Specific border image for the first detail item */
.detail-item:nth-child(1) {
    border: 5px solid transparent; /* Set the border width */
    border-image-source: url('https://uploads.staticjw.com/au/aurorawedding/bgleaf001.png');
    border-image-slice: 30 fill; /* Adjust the slice value based on the image */
    border-image-width: 20px;
    border-image-outset: 5;
    border-image-repeat: round;
}

.detail-item:nth-child(2) {
    border: 5px solid transparent; /* Set the border width */
    border-image-source: url('https://uploads.staticjw.com/au/aurorawedding/bgleaf002.png');
    border-image-slice: 30 fill; /* Adjust the slice value based on the image */
    border-image-width: 20px;
    border-image-outset: 5;
    border-image-repeat: round;
}

.detail-item:nth-child(3) {
    border: 5px solid transparent; /* Set the border width */
    border-image-source: url('https://uploads.staticjw.com/au/aurorawedding/bgleaf004.png');
    border-image-slice: 30 fill; /* Adjust the slice value based on the image */
    border-image-width: 20px;
    border-image-outset: 5;
    border-image-repeat: round;
}

.detail-item:nth-child(4) {
    background-image: url('path/to/your/image4.jpg');
}

.detail-item:nth-child(5) {
    background-image: url('path/to/your/image5.jpg');
}


.gallery-content {
    padding: 20px;
    transition: opacity 0.5s ease-in-out;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    overflow-y: auto;
    max-height: 80vh;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(0.95);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    right: 25px;
    top: 15px;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover {
    color: #bbb;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -50px;
    padding: 16px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,1);
}

.modal-slide {
    width: 100%;
    display: none;
}

/* Lägg till denna mediafråga för mobilanpassning */
@media (max-width: 768px) {
    .header img {
        max-width: 100%;
    }

    .nav-btn {
        font-size: 1.2em;
    }

    .popup-content {
        padding: 10px;
    }

    .content-inner {
        flex-direction: column;
    }

    .text-container {
        text-align: center;
    }

    .text-container h3 {
        font-size: 2em;
    }

    .text-container h4 {
        font-size: 1.5em;
    }

    .text-container p {
        font-size: 1em;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .section {
        flex-direction: column;
    }
}

/* New styles for full-width sections */
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
}

.section:nth-child(odd) .text-container {
    order: 1;
}

.section:nth-child(odd) .image-container {
    order: 2;
}

.section:nth-child(even) .text-container {
    order: 2;
}

.section:nth-child(even) .image-container {
    order: 1;
}

.section .text-container {
    flex: 1;
    padding: 20px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.section .image-container {
    flex: 1;
    text-align: center;
}

.section .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
    transition: transform 0.3s ease-in-out;
}

.section .image-container img:hover {
    transform: scale(1.02);
}

/* Background images for each text-container */
.section:nth-child(1) .text-container {
    background-image: url('https://uploads.staticjw.com/au/aurorawedding/bgleaf006.png');
}

.section:nth-child(2) .text-container {
    background-image: url('https://uploads.staticjw.com/au/aurorawedding/bgleaf006.png');
}

.section:nth-child(3) .text-container {
    background-image: url('https://example.com/image3.jpg');
}

.section:nth-child(4) .text-container {
    background-image: url('https://example.com/image4.jpg');
}
